<h1>All Shoes</h1>

<div class="row">

  <% @products.each do |product| %>
  <div class="col s6">

    <div class="card grey lighten-4">
      <%= link_to image_tag(product.image(:medium)), product_path(product), class: "image-size" %>
      <br>
      <p>$<%= product.price %></p>
    </div>
  </div>
  <% end %>

</div>
