<h1>You made it to the products page!</h1>

<div class="row">

  <% @products.each do |product| %>
  <div class="col s6">

    <div class="card">
      <%= link_to image_tag(product.image(:medium)), product_path(product), class: "image-size" %>
      <br>
      <p>$<%= product.price %></p>
    </div>
  </div>
  <% end %>

</div>
